*.diff
config.json
pretty-print.js
pretty-print.min.js
main.min.css
nohup.out

pom.xml
*jar
/lib/
/classes/
/node_modules
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

/public/css/main.min.css
/public/js/main.js
/public/js/main.min.js
*.diff

/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.log
/node_modules
server.js
