*.diff
config.json
pretty-print.js
pretty-print.min.js
public/css/
public/js/out/
public/js/out-min/
nohup.out

pom.xml
*jar
/lib/
/classes/
/node_modules
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

*.diff

/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.log
/node_modules
server.js
