//------------------------------------------------------------------------------
// Import
//------------------------------------------------------------------------------

@import "elements-0.9.less";
@import "normalize-3.0.2.less";
@import "font-awesome-4.2.0.less";

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans.eot');
  src: local('Open Sans'), local('OpenSans'),
    url('../fonts/OpenSans.eot') format('embedded-opentype'),
    url('../fonts/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot');
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('../fonts/OpenSans-Semibold.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
    url('../fonts/OpenSansLight-Italic.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLight-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
    url('../fonts/OpenSans-SemiboldItalic.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidSansMono.eot');
  src: local('Droid Sans Mono'), local('DroidSansMono'),
    url('../fonts/DroidSansMono.eot') format('embedded-opentype'),
    url('../fonts/DroidSansMono.woff') format('woff');
}

.font-light(@size) {
  font-family: 'Open Sans Light';
  font-size: @size;
  font-weight: 300;
}

.font-normal(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 400;
}

.font-bold(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 600;
}

.font-mono(@size) {
  font-family: 'Droid Sans Mono', monospace;
  font-size: @size;
  font-style: normal;
  font-weight: 400;
}

//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

@headerColor: #5a83d5;

//------------------------------------------------------------------------------
// Classes
//------------------------------------------------------------------------------

.body-f39e6 {
  font-family: "Open Sans";
}

.outer-c5e7d {
  background: @headerColor;
  padding: 15px 0;
}

.inner-0f889 {
  margin: 0 auto;
  width: 1200px;
}

.clr-217e3 {
  clear: both;
}

.left-9467a {
  float: left;
}

.right-1dd94 {
  float: right;
}

.home-link-e4c1e {
  color: #fff;
  .font-bold(28px);
  text-decoration: none;
}

.net-84e9a {
  .font-light(22px);
  text-transform: lowercase;
}
